<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="<%= imgURL %>" alt="Image" style="width: 100%;"> 
    <div style="text-align: center;">
        <h1>Job Application Confirmation</h1>
        <p>Dear <%= name %>,</p>
        <p>Thank you for applying to a job at Easily. We have received your application and are currently reviewing it.</p>
        <p>If your qualifications meet our requirements, we will contact you for the next steps of the selection process.</p>
        <p>Thank you for your interest in joining our team!</p>
        <div>
            <p>Best regards,</p>
            <p>The Easily Team</p>
        </div>
    </div>
</body>
</html>